# Ignore Xcode files - Project organization should be backed up with
# normal time machine/filesystem backup.
*.xcodeproj/

# Ignore Mac OS X folder information file - This should not be needed in SCM
.DS_Store

# Ignore bastion runtime folder
**bastion/

# Ignore and container runtime folders
**-container/

